/data/
/logs/
/.env
/.venv/
/.vercel/

__pycache__/
*.py[cod]
*$py.class

/frontend/node_modules/
/frontend/apps/*/node_modules/
/frontend/packages/*/node_modules/
/frontend/**/dist/

.DS_Store
Thumbs.db
